<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Welcome to use the TableGo Tools.
    
    http://vipbooks.iteye.com
    http://blog.csdn.net/vipbooks
    http://www.cnblogs.com/vipbooks
    
    Author:bianj
    Email:edinsker@163.com
    Version:5.0.0
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 收模拆分订单列表(COLLECT_SPITINFO) -->
<mapper namespace="com.jialong.jlmanager.dao.Iterface.SplitCollectionDaoIF">
    <!-- 结果映射 -->
    <resultMap id="collectSpitinfoMap" type="CollectSpitinfoEntity"></resultMap>
    
    <!-- 表所有字段 -->
    <sql id="allColumns">
        PK_GUID, ORDER_ID, UPDATETIME, ISDELETE, ADDUSER, 
        REMARK, MOULDNAME, SPIT_ID, SPITTIME, COLLECTMOULD_ID, 
        SIWENNUM, WUSIWENNUM, MOULDNUM, CREATETIME
    </sql>
    
    <!-- 根据条件查询数据 -->
    <select id="findCollectSpitinfoByCondition" resultMap="collectSpitinfoMap" parameterType="map">
        SELECT
        <include refid="allColumns" />
        FROM COLLECT_SPITINFO WHERE 1 = 1
        <if test="orderId != null and orderId != ''">
            AND ORDER_ID LIKE CONCAT('%',#{orderId},'%')
        </if>
        <if test="updatetime != null and updatetime != ''">
            AND UPDATETIME LIKE CONCAT('%',#{updatetime},'%')
        </if>
    </select>
    
    <!-- 插入数据 -->
    <insert id="insertCollectSpitinfo" parameterType="com.jialong.jlmanager.model.CollectSpitinfoEntity">
        INSERT INTO COLLECT_SPITINFO (<include refid="allColumns" />)
        VALUES (
            #{pkGuid},
            #{orderId},
            now(),
            0,
            #{adduser},
            #{remark},
            #{mouldname},
            #{spitId},
            #{spittime},
            #{collectmouldId},
            #{siwennum},
            #{wusiwennum},
            #{mouldnum},
            now()
        )
    </insert>
    
    <!-- 修改数据 -->
    <update id="updateCollectSpitinfo" parameterType="com.jialong.jlmanager.model.CollectSpitinfoEntity">
        UPDATE COLLECT_SPITINFO SET
            ORDER_ID = #{orderId},
            UPDATETIME = now(),
            ISDELETE = #{isdelete},
            ADDUSER = #{adduser},
            REMARK = #{remark},
            MOULDNAME = #{mouldname},
            SPIT_ID = #{spitId},
            SPITTIME = #{spittime},
            SIWENNUM = #{siwennum},
            WUSIWENNUM = #{wusiwennum},
            MOULDNUM = #{mouldnum},
            COLLECTMOULD_ID = #{collectmouldId},
            CREATETIME = #{createtime}
        WHERE PK_GUID = #{pkGuid}
    </update>
    
    <!-- 根据主键批量删除数据 -->
    <delete id="deleteCollectSpitinfoByIds" parameterType="list">
        DELETE FROM COLLECT_SPITINFO WHERE PK_GUID IN
        <foreach collection="list" index="index" item="pkGuid" open="(" separator="," close=")">
            #{pkGuid}
        </foreach>
    </delete>
</mapper>