<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Welcome to use the TableGo Tools.
    
    http://vipbooks.iteye.com
    http://blog.csdn.net/vipbooks
    http://www.cnblogs.com/vipbooks
    
    Author:bianj
    Email:edinsker@163.com
    Version:5.0.0
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 收发模通知单(DOC_COLLECTMOULD) -->
<mapper namespace="com.jialong.jlmanager.dao.Iterface.CollectionDaoIF">
    <!-- 结果映射 -->
    <resultMap id="docCollectmouldMap" type="DocCollectmouldEntity"></resultMap>
    
    <!-- 表所有字段 -->
    <sql id="allColumns">
        PK_GUID, DOC_ID, UPDATETIME, ISDELETE, ADDUSER, 
        REMARK, STATUS, FINISHTIME, FREIGHTTYPE,
        WOODENCASENUM, PALLETNUM, LIFTINGRINGNUM, JIANBAO,
        CARNUM, DRIVERPHONE, PICURL, ETCHBORD, SEPARATE, 
        CREATETIME, BATCH, CLIENTCOMPANY
    </sql>
    
    <!-- 根据条件查询数据 -->
    <select id="getCollection" resultMap="docCollectmouldMap" parameterType="map">
        SELECT
        <include refid="allColumns" />
        FROM DOC_COLLECTMOULD WHERE 1 = 1
        <if test="adduser != null and adduser != ''">
            AND ADDUSER = #{adduser}
        </if>
        <if test="pkGuid != null and pkGuid != ''">
            AND PK_GUID = #{pkGuid}
        </if>
    </select>
    
    <!-- 插入数据 -->
    <insert id="insertDocCollectmould" parameterType="map">
        INSERT INTO DOC_COLLECTMOULD (<include refid="allColumns" />)
        VALUES (
            #{pkGuid},
            #{docId},
            now(),
            0,
            #{adduser},
            #{remark},
            0,
            #{finishtime},
            #{freighttype},
            #{woodencasenum},
            #{palletnum},
            #{liftingringnum},
            #{jianbao},
            #{carnum},
            #{driverphone},
            #{picurl},
            #{etchbord},
            #{separate},
            #{createtime},
            #{batch},
            #{clientcompany}
        )
    </insert>
    
    <!-- 修改数据 -->
    <update id="upadteCollection" parameterType="map">
        UPDATE DOC_COLLECTMOULD SET
            DOC_ID = #{docId},
            UPDATETIME = #{updatetime},
            ISDELETE = #{isdelete},
            ADDUSER = #{adduser},
            REMARK = #{remark},
            STATUS = #{status},
            FINISHTIME = #{finishtime},
            FREIGHTTYPE = #{freighttype},
            WOODENCASENUM = #{woodencasenum},
            PALLETNUM = #{palletnum},
            LIFTINGRINGNUM = #{liftingringnum},
            JIANBAO = #{jianbao},
            CARNUM = #{carnum},
            DRIVERPHONE = #{driverphone},
            PICURL = #{picurl},
            ETCHBORD = #{etchbord},
            SEPARATE = #{separate},
            CREATETIME = #{createtime},
            BATCH = #{batch},
            CLIENTCOMPANY = #{clientcompany}
        WHERE PK_GUID = #{pkGuid}
    </update>
    
    <!-- 根据主键批量删除数据 -->
    <delete id="deleteDocCollectmouldByIds" parameterType="list">
        DELETE FROM DOC_COLLECTMOULD WHERE PK_GUID IN
        <foreach collection="list" index="index" item="pkGuid" open="(" separator="," close=")">
            #{pkGuid}
        </foreach>
    </delete>
</mapper>