<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Welcome to use the TableGo Tools.
    
    http://vipbooks.iteye.com
    http://blog.csdn.net/vipbooks
    http://www.cnblogs.com/vipbooks
    
    Author:bianj
    Email:edinsker@163.com
    Version:5.0.0
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 完毕报告书(DOC_FINISHREPORT) -->
<mapper namespace="mysql.docFinishreport">
    <!-- 结果映射 -->
    <resultMap id="docFinishreportMap" type="DocFinishreportEntity"></resultMap>
    
    <!-- 表所有字段 -->
    <sql id="allColumns">
        PK_GUID, DOC_ID, UPDATETIME, ISDELETE, ADDUSER, 
        CREATETIME, TEXTUREAREA, TEXTUREDIRECTION, INJECTIONMOLDING, ORDER_ID, 
        INSPECTIONTYPE, QUALITYSTATUS
    </sql>
    
    <!-- 根据条件查询数据 -->
    <select id="findDocFinishreportByCondition" resultMap="docFinishreportMap" parameterType="map">
        SELECT
        <include refid="allColumns" />
        FROM DOC_FINISHREPORT WHERE 1 = 1
        <if test="docId != null and docId != ''">
            AND DOC_ID LIKE CONCAT('%',#{docId},'%')
        </if>
        <if test="updatetime != null and updatetime != ''">
            AND UPDATETIME LIKE CONCAT('%',#{updatetime},'%')
        </if>
    </select>
    
    <!-- 插入数据 -->
    <insert id="insertDocFinishreport" parameterType="map">
        INSERT INTO DOC_FINISHREPORT (<include refid="allColumns" />)
        VALUES (
            #{pkGuid},
            #{docId},
            #{updatetime},
            #{isdelete},
            #{adduser},
            #{createtime},
            #{texturearea},
            #{texturedirection},
            #{injectionmolding},
            #{orderId},
            #{inspectiontype},
            #{qualitystatus}
        )
    </insert>
    
    <!-- 修改数据 -->
    <update id="updateDocFinishreport" parameterType="map">
        UPDATE DOC_FINISHREPORT SET
            DOC_ID = #{docId},
            UPDATETIME = #{updatetime},
            ISDELETE = #{isdelete},
            ADDUSER = #{adduser},
            CREATETIME = #{createtime},
            TEXTUREAREA = #{texturearea},
            TEXTUREDIRECTION = #{texturedirection},
            INJECTIONMOLDING = #{injectionmolding},
            ORDER_ID = #{orderId},
            INSPECTIONTYPE = #{inspectiontype},
            QUALITYSTATUS = #{qualitystatus}
        WHERE PK_GUID = #{pkGuid}
    </update>
    
    <!-- 根据主键批量删除数据 -->
    <delete id="deleteDocFinishreportByIds" parameterType="list">
        DELETE FROM DOC_FINISHREPORT WHERE PK_GUID IN
        <foreach collection="list" index="index" item="pkGuid" open="(" separator="," close=")">
            #{pkGuid}
        </foreach>
    </delete>
</mapper>