<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Welcome to use the TableGo Tools.
    
    http://vipbooks.iteye.com
    http://blog.csdn.net/vipbooks
    http://www.cnblogs.com/vipbooks
    
    Author:bianj
    Email:edinsker@163.com
    Version:5.0.0
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 前期报告书批准信息(DOC_PREVIOUSREPORT_MOULDINFO_COPY_1) -->
<mapper namespace="mysql.docPreviousreportMouldinfoCopy1">
    <!-- 结果映射 -->
    <resultMap id="docPreviousreportMouldinfoCopy1Map" type="DocPreviousreportMouldinfoCopy1Entity"></resultMap>
    
    <!-- 表所有字段 -->
    <sql id="allColumns">
        PK_GUID, REPORTDOC_ID, UPDATETIME, ISDELETE, ADDUSER, 
        CREATETIME, APPROVEBOOK, STEELTYPE, MOULDNUM, CAVITYNUM, 
        MATERIALHARDNESS, HEATTREATMENT, MINDRAFTANGLE, SLIDER, SPARKLAYER, 
        BUFFING, WELDING, WELDINGWIRE, WELDING400, NITRIDE, 
        REMARK
    </sql>
    
    <!-- 根据条件查询数据 -->
    <select id="findDocPreviousreportMouldinfoCopy1ByCondition" resultMap="docPreviousreportMouldinfoCopy1Map" parameterType="map">
        SELECT
        <include refid="allColumns" />
        FROM DOC_PREVIOUSREPORT_MOULDINFO_COPY_1 WHERE 1 = 1
        <if test="reportdocId != null and reportdocId != ''">
            AND REPORTDOC_ID LIKE CONCAT('%',#{reportdocId},'%')
        </if>
        <if test="updatetime != null and updatetime != ''">
            AND UPDATETIME LIKE CONCAT('%',#{updatetime},'%')
        </if>
    </select>
    
    <!-- 插入数据 -->
    <insert id="insertDocPreviousreportMouldinfoCopy1" parameterType="map">
        INSERT INTO DOC_PREVIOUSREPORT_MOULDINFO_COPY_1 (<include refid="allColumns" />)
        VALUES (
            #{pkGuid},
            #{reportdocId},
            #{updatetime},
            #{isdelete},
            #{adduser},
            #{createtime},
            #{approvebook},
            #{steeltype},
            #{mouldnum},
            #{cavitynum},
            #{materialhardness},
            #{heattreatment},
            #{mindraftangle},
            #{slider},
            #{sparklayer},
            #{buffing},
            #{welding},
            #{weldingwire},
            #{welding400},
            #{nitride},
            #{remark}
        )
    </insert>
    
    <!-- 修改数据 -->
    <update id="updateDocPreviousreportMouldinfoCopy1" parameterType="map">
        UPDATE DOC_PREVIOUSREPORT_MOULDINFO_COPY_1 SET
            REPORTDOC_ID = #{reportdocId},
            UPDATETIME = #{updatetime},
            ISDELETE = #{isdelete},
            ADDUSER = #{adduser},
            CREATETIME = #{createtime},
            APPROVEBOOK = #{approvebook},
            STEELTYPE = #{steeltype},
            MOULDNUM = #{mouldnum},
            CAVITYNUM = #{cavitynum},
            MATERIALHARDNESS = #{materialhardness},
            HEATTREATMENT = #{heattreatment},
            MINDRAFTANGLE = #{mindraftangle},
            SLIDER = #{slider},
            SPARKLAYER = #{sparklayer},
            BUFFING = #{buffing},
            WELDING = #{welding},
            WELDINGWIRE = #{weldingwire},
            WELDING400 = #{welding400},
            NITRIDE = #{nitride},
            REMARK = #{remark}
        WHERE PK_GUID = #{pkGuid}
    </update>
    
    <!-- 根据主键批量删除数据 -->
    <delete id="deleteDocPreviousreportMouldinfoCopy1ByIds" parameterType="list">
        DELETE FROM DOC_PREVIOUSREPORT_MOULDINFO_COPY_1 WHERE PK_GUID IN
        <foreach collection="list" index="index" item="pkGuid" open="(" separator="," close=")">
            #{pkGuid}
        </foreach>
    </delete>
</mapper>