<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Welcome to use the TableGo Tools.
    
    http://vipbooks.iteye.com
    http://blog.csdn.net/vipbooks
    http://www.cnblogs.com/vipbooks
    
    Author:bianj
    Email:edinsker@163.com
    Version:5.0.0
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 前期报告书批准信息(DOC_PREVIOUSREPORT_APPROVE) -->
<mapper namespace="mysql.docPreviousreportApprove">
    <!-- 结果映射 -->
    <resultMap id="docPreviousreportApproveMap" type="DocPreviousreportApproveEntity"></resultMap>
    
    <!-- 表所有字段 -->
    <sql id="allColumns">
        PK_GUID, REPORTDOC_ID, UPDATETIME, ISDELETE, ADDUSER, 
        CREATETIME, APPROVEBOOK, SPLITINFO
    </sql>
    
    <!-- 根据条件查询数据 -->
    <select id="findDocPreviousreportApproveByCondition" resultMap="docPreviousreportApproveMap" parameterType="map">
        SELECT
        <include refid="allColumns" />
        FROM DOC_PREVIOUSREPORT_APPROVE WHERE 1 = 1
        <if test="reportdocId != null and reportdocId != ''">
            AND REPORTDOC_ID LIKE CONCAT('%',#{reportdocId},'%')
        </if>
        <if test="updatetime != null and updatetime != ''">
            AND UPDATETIME LIKE CONCAT('%',#{updatetime},'%')
        </if>
    </select>
    
    <!-- 插入数据 -->
    <insert id="insertDocPreviousreportApprove" parameterType="map">
        INSERT INTO DOC_PREVIOUSREPORT_APPROVE (<include refid="allColumns" />)
        VALUES (
            #{pkGuid},
            #{reportdocId},
            #{updatetime},
            #{isdelete},
            #{adduser},
            #{createtime},
            #{approvebook},
            #{splitinfo}
        )
    </insert>
    
    <!-- 修改数据 -->
    <update id="updateDocPreviousreportApprove" parameterType="map">
        UPDATE DOC_PREVIOUSREPORT_APPROVE SET
            REPORTDOC_ID = #{reportdocId},
            UPDATETIME = #{updatetime},
            ISDELETE = #{isdelete},
            ADDUSER = #{adduser},
            CREATETIME = #{createtime},
            APPROVEBOOK = #{approvebook},
            SPLITINFO = #{splitinfo}
        WHERE PK_GUID = #{pkGuid}
    </update>
    
    <!-- 根据主键批量删除数据 -->
    <delete id="deleteDocPreviousreportApproveByIds" parameterType="list">
        DELETE FROM DOC_PREVIOUSREPORT_APPROVE WHERE PK_GUID IN
        <foreach collection="list" index="index" item="pkGuid" open="(" separator="," close=")">
            #{pkGuid}
        </foreach>
    </delete>
</mapper>