<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Welcome to use the TableGo Tools.
    
    http://vipbooks.iteye.com
    http://blog.csdn.net/vipbooks
    http://www.cnblogs.com/vipbooks
    
    Author:bianj
    Email:edinsker@163.com
    Version:5.0.0
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 前期报告书模具不合格说明(DOC_PREVIOUSREPORT_QUESTION) -->
<mapper namespace="mysql.docPreviousreportQuestion">
    <!-- 结果映射 -->
    <resultMap id="docPreviousreportQuestionMap" type="DocPreviousreportQuestionEntity"></resultMap>
    
    <!-- 表所有字段 -->
    <sql id="allColumns">
        PK_GUID, REPORTDOC_ID, UPDATETIME, ISDELETE, ADDUSER, 
        CREATETIME, PICURL, REMARK
    </sql>
    
    <!-- 根据条件查询数据 -->
    <select id="findDocPreviousreportQuestionByCondition" resultMap="docPreviousreportQuestionMap" parameterType="map">
        SELECT
        <include refid="allColumns" />
        FROM DOC_PREVIOUSREPORT_QUESTION WHERE 1 = 1
        <if test="reportdocId != null and reportdocId != ''">
            AND REPORTDOC_ID LIKE CONCAT('%',#{reportdocId},'%')
        </if>
        <if test="updatetime != null and updatetime != ''">
            AND UPDATETIME LIKE CONCAT('%',#{updatetime},'%')
        </if>
    </select>
    
    <!-- 插入数据 -->
    <insert id="insertDocPreviousreportQuestion" parameterType="map">
        INSERT INTO DOC_PREVIOUSREPORT_QUESTION (<include refid="allColumns" />)
        VALUES (
            #{pkGuid},
            #{reportdocId},
            #{updatetime},
            #{isdelete},
            #{adduser},
            #{createtime},
            #{picurl},
            #{remark}
        )
    </insert>
    
    <!-- 修改数据 -->
    <update id="updateDocPreviousreportQuestion" parameterType="map">
        UPDATE DOC_PREVIOUSREPORT_QUESTION SET
            REPORTDOC_ID = #{reportdocId},
            UPDATETIME = #{updatetime},
            ISDELETE = #{isdelete},
            ADDUSER = #{adduser},
            CREATETIME = #{createtime},
            PICURL = #{picurl},
            REMARK = #{remark}
        WHERE PK_GUID = #{pkGuid}
    </update>
    
    <!-- 根据主键批量删除数据 -->
    <delete id="deleteDocPreviousreportQuestionByIds" parameterType="list">
        DELETE FROM DOC_PREVIOUSREPORT_QUESTION WHERE PK_GUID IN
        <foreach collection="list" index="index" item="pkGuid" open="(" separator="," close=")">
            #{pkGuid}
        </foreach>
    </delete>
</mapper>