<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Welcome to use the TableGo Tools.
    
    http://vipbooks.iteye.com
    http://blog.csdn.net/vipbooks
    http://www.cnblogs.com/vipbooks
    
    Author:bianj
    Email:edinsker@163.com
    Version:5.0.0
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 前期报告书的元件信息(DOC_PREVIOUSREPORT_PARTINFO) -->
<mapper namespace="mysql.docPreviousreportPartinfo">
    <!-- 结果映射 -->
    <resultMap id="docPreviousreportPartinfoMap" type="DocPreviousreportPartinfoEntity"></resultMap>
    
    <!-- 表所有字段 -->
    <sql id="allColumns">
        PK_GUID, ORDER_ID, UPDATETIME, ISDELETE, ADDUSER, 
        REMARK, MOULDNAME, REPORT_ID, PICURL, COLLECTPARTINFO_ID, 
        CREATETIME
    </sql>
    
    <!-- 根据条件查询数据 -->
    <select id="findDocPreviousreportPartinfoByCondition" resultMap="docPreviousreportPartinfoMap" parameterType="map">
        SELECT
        <include refid="allColumns" />
        FROM DOC_PREVIOUSREPORT_PARTINFO WHERE 1 = 1
        <if test="orderId != null and orderId != ''">
            AND ORDER_ID LIKE CONCAT('%',#{orderId},'%')
        </if>
        <if test="updatetime != null and updatetime != ''">
            AND UPDATETIME LIKE CONCAT('%',#{updatetime},'%')
        </if>
    </select>
    
    <!-- 插入数据 -->
    <insert id="insertDocPreviousreportPartinfo" parameterType="map">
        INSERT INTO DOC_PREVIOUSREPORT_PARTINFO (<include refid="allColumns" />)
        VALUES (
            #{pkGuid},
            #{orderId},
            #{updatetime},
            #{isdelete},
            #{adduser},
            #{remark},
            #{mouldname},
            #{reportId},
            #{picurl},
            #{collectpartinfoId},
            #{createtime}
        )
    </insert>
    
    <!-- 修改数据 -->
    <update id="updateDocPreviousreportPartinfo" parameterType="map">
        UPDATE DOC_PREVIOUSREPORT_PARTINFO SET
            ORDER_ID = #{orderId},
            UPDATETIME = #{updatetime},
            ISDELETE = #{isdelete},
            ADDUSER = #{adduser},
            REMARK = #{remark},
            MOULDNAME = #{mouldname},
            REPORT_ID = #{reportId},
            PICURL = #{picurl},
            COLLECTPARTINFO_ID = #{collectpartinfoId},
            CREATETIME = #{createtime}
        WHERE PK_GUID = #{pkGuid}
    </update>
    
    <!-- 根据主键批量删除数据 -->
    <delete id="deleteDocPreviousreportPartinfoByIds" parameterType="list">
        DELETE FROM DOC_PREVIOUSREPORT_PARTINFO WHERE PK_GUID IN
        <foreach collection="list" index="index" item="pkGuid" open="(" separator="," close=")">
            #{pkGuid}
        </foreach>
    </delete>
</mapper>