<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Welcome to use the TableGo Tools.
    
    http://vipbooks.iteye.com
    http://blog.csdn.net/vipbooks
    http://www.cnblogs.com/vipbooks
    
    Author:bianj
    Email:edinsker@163.com
    Version:5.0.0
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 车间主管内置流程分配表(PROCESSING_WORKFLOW) -->
<mapper namespace="mysql.processingWorkflow">
    <!-- 结果映射 -->
    <resultMap id="processingWorkflowMap" type="ProcessingWorkflowEntity"></resultMap>
    
    <!-- 表所有字段 -->
    <sql id="allColumns">
        PK_GUID, ORDERID, STATUS, UPDATETIME, ISDELETE, 
        ADDUSER, STARTTIME, FINISHTIME, CREATETIME
    </sql>
    
    <!-- 根据条件查询数据 -->
    <select id="findProcessingWorkflowByCondition" resultMap="processingWorkflowMap" parameterType="map">
        SELECT
        <include refid="allColumns" />
        FROM PROCESSING_WORKFLOW WHERE 1 = 1
        <if test="orderid != null and orderid != ''">
            AND ORDERID LIKE CONCAT('%',#{orderid},'%')
        </if>
        <if test="status != null and status != ''">
            AND STATUS LIKE CONCAT('%',#{status},'%')
        </if>
    </select>
    
    <!-- 插入数据 -->
    <insert id="insertProcessingWorkflow" parameterType="map">
        INSERT INTO PROCESSING_WORKFLOW (<include refid="allColumns" />)
        VALUES (
            #{pkGuid},
            #{orderid},
            #{status},
            #{updatetime},
            #{isdelete},
            #{adduser},
            #{starttime},
            #{finishtime},
            #{createtime}
        )
    </insert>
    
    <!-- 修改数据 -->
    <update id="updateProcessingWorkflow" parameterType="map">
        UPDATE PROCESSING_WORKFLOW SET
            ORDERID = #{orderid},
            STATUS = #{status},
            UPDATETIME = #{updatetime},
            ISDELETE = #{isdelete},
            ADDUSER = #{adduser},
            STARTTIME = #{starttime},
            FINISHTIME = #{finishtime},
            CREATETIME = #{createtime}
        WHERE PK_GUID = #{pkGuid}
    </update>
    
    <!-- 根据主键批量删除数据 -->
    <delete id="deleteProcessingWorkflowByIds" parameterType="list">
        DELETE FROM PROCESSING_WORKFLOW WHERE PK_GUID IN
        <foreach collection="list" index="index" item="pkGuid" open="(" separator="," close=")">
            #{pkGuid}
        </foreach>
    </delete>
</mapper>