<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Welcome to use the TableGo Tools.
    
    http://vipbooks.iteye.com
    http://blog.csdn.net/vipbooks
    http://www.cnblogs.com/vipbooks
    
    Author:bianj
    Email:edinsker@163.com
    Version:5.0.0
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 步骤质量总监关系表(PROCESSING_UNITSTEP_QUALITY) -->
<mapper namespace="mysql.processingUnitstepQuality">
    <!-- 结果映射 -->
    <resultMap id="processingUnitstepQualityMap" type="ProcessingUnitstepQualityEntity"></resultMap>
    
    <!-- 表所有字段 -->
    <sql id="allColumns">
        PK_GUID, QUALITY_ID, UPDATETIME, ISDELETE, ADDUSER, 
        REMARK, STATUS, FINISHTIME, CREATETIME
    </sql>
    
    <!-- 根据条件查询数据 -->
    <select id="findProcessingUnitstepQualityByCondition" resultMap="processingUnitstepQualityMap" parameterType="map">
        SELECT
        <include refid="allColumns" />
        FROM PROCESSING_UNITSTEP_QUALITY WHERE 1 = 1
        <if test="qualityId != null and qualityId != ''">
            AND QUALITY_ID LIKE CONCAT('%',#{qualityId},'%')
        </if>
        <if test="updatetime != null and updatetime != ''">
            AND UPDATETIME LIKE CONCAT('%',#{updatetime},'%')
        </if>
    </select>
    
    <!-- 插入数据 -->
    <insert id="insertProcessingUnitstepQuality" parameterType="map">
        INSERT INTO PROCESSING_UNITSTEP_QUALITY (<include refid="allColumns" />)
        VALUES (
            #{pkGuid},
            #{qualityId},
            #{updatetime},
            #{isdelete},
            #{adduser},
            #{remark},
            #{status},
            #{finishtime},
            #{createtime}
        )
    </insert>
    
    <!-- 修改数据 -->
    <update id="updateProcessingUnitstepQuality" parameterType="map">
        UPDATE PROCESSING_UNITSTEP_QUALITY SET
            QUALITY_ID = #{qualityId},
            UPDATETIME = #{updatetime},
            ISDELETE = #{isdelete},
            ADDUSER = #{adduser},
            REMARK = #{remark},
            STATUS = #{status},
            FINISHTIME = #{finishtime},
            CREATETIME = #{createtime}
        WHERE PK_GUID = #{pkGuid}
    </update>
    
    <!-- 根据主键批量删除数据 -->
    <delete id="deleteProcessingUnitstepQualityByIds" parameterType="list">
        DELETE FROM PROCESSING_UNITSTEP_QUALITY WHERE PK_GUID IN
        <foreach collection="list" index="index" item="pkGuid" open="(" separator="," close=")">
            #{pkGuid}
        </foreach>
    </delete>
</mapper>